<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{ assets({files: ['assets/css/app.css']}) }}
    {{ assets({files: ['assets/css/bootstrap-icons.css']}) }}
    {{ assets({files: ['assets/css/bootstrap.min.css']}) }}

</head>
<body>
    <div class="container">
        {{ data }}
    </div>


    {{ assets({files: ['assets/js/app.js']}) }}
    {{ assets({files: ['assets/js/jquery-3.6.1.min.js']}) }}
    {{ assets({files: ['assets/js/bootstrap.min.js']}) }}
    {{ assets({files: ['assets/js/bootstrap.bundle.min.js']}) }}
</body>
</html>